.App-header {
    background-color: rgb(249, 249, 249);
    display: flex;
    align-items: center;
    color: black;
}

.wrapper {
    max-width: 88%;
}

.App {
    text-align: center;
    background-color: rgb(249, 249, 249);
    padding: 40px 40px;
    overflow-x: hidden;
    .div {
        h1{
            margin-bottom: 25px;
            font-size: 40px;
        }
        p {
            font-size: 18px!important;
            line-height: 35px;
            margin-bottom: 0!important;
        }
    }
}

.cardContent {
    display: grid;
    position: relative;
    grid-column-gap: 3.8rem;
    width: 100%;
    height: 500px;
    flex-wrap: nowrap;
    transform-style: preserve-3d;
    margin-top: 1rem;
}
.navLink {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 450px;
    left: 27px;

}
.navLink:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.tilt {
    position: relative;
    padding: 40px!important;
    margin: 20px!important;
    height: 520px !important;
    width: 330px!important;
    color: white!important;
    border-radius: 0!important;
    p {
        font-size: 18px!important;
    }
    .first {
        transition: 0.5s;
    }
    .second {
        transition: 0.5s;
    }
}

.tilt:hover {
    opacity: 0.9;
    .first {
        opacity: 0.4;
    }
    .second {
        opacity: 0.4;
    }
    p {
        opacity: 1;
        z-index: 25;
        font-size: 18px;
    }
}

h4  {
    text-align: left;
}

.tilt p {
    text-align: left;
    opacity: 0;
    transition: 0.4s;
    padding-top: 15px;
    z-index: 100;
}

h1 {
    text-align: left;
}

.div {
    padding-left: 20px;

}

p {
    text-align: left;
}

.content {
    font-size:18px;
}

.python1 {
    position: absolute;
    top: 280px;
    left: 75px;
    z-index: 5;
}

.python2 {
    position: absolute;
    top: 220px;
    left: 43px;
    z-index: 5;
}

.java1 {
    position: absolute;
    top: 197px;
    left: 120px;
    z-index: 5;

}

.java2 {
    position: absolute;
    top: 163px;
    left: 66px;
    z-index: 5;
}

.ios1 {
    position: absolute;
    top: 236px;
    left: 35px;
    z-index: 5;

}

.ios2 {
    position: absolute;
    top: 265px;
    left: 153px;
    z-index: 5;
}

.flutter1 {
    position: absolute;
    top: 221px;
    left: 43px;
    z-index: 5;

}

.flutter2 {
    position: absolute;
    top: 345px;
    left: 127px;
    z-index: 5;
}

.java {
    background-color: rgb(231, 111, 0) !important;
}

.flutter {
    background-color: rgb(15, 96, 162) !important;
}

.ios {
    background-color: rgb(9, 35, 40) !important;
}

.python {
    background-color: rgb(55, 114, 163) !important;
}

.left {
    cursor: pointer;
    margin-right: 25px;
}

.right {
    cursor: pointer;
}