@media (min-width: 0) and (max-width: 320px){
  .App-header {
    background-color: rgb(249, 249, 249);
    display: flex;
    align-items: center;
    color: black;
  }

  .wrapper {
    max-width: 88%;
  }

  .App {
    text-align: center;
    background-color: rgb(249, 249, 249);
    padding: 10px 5px;
    overflow-x: hidden;
    .div {
      h1{
        margin-bottom: 10px;
        font-size: 16px;
      }
      p {
        font-size: 10px!important;
        line-height: 15px;
        margin-bottom: 0!important;
      }
    }
  }

  .cardContent {
    display: grid;
    position: relative;
    grid-column-gap: 3.8rem;
    width: 100%;
    height: 500px;
    flex-wrap: nowrap;
    transform-style: preserve-3d;
    margin-top: 1rem;
  }
  .navLink {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 380px;
    left: 27px;

  }
  .navLink:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
  .tilt {
    position: relative;
    padding: 20px!important;
    margin: 10px!important;
    height: 420px !important;
    width: 215px!important;
    color: white!important;
    border-radius: 0!important;
    p {
      font-size: 18px!important;
    }
    .first {
      transition: 0.5s;
    }
    .second {
      transition: 0.5s;
    }
    h4 {
      font-size: 18px;
    }
  }

  .tilt:hover {
    opacity: 0.9;
    .first {
      opacity: 0.4;
    }
    .second {
      opacity: 0.4;
    }
    p {
      opacity: 1;
      z-index: 25;
      font-size: 14px!important;
    }
  }

  h4  {
    text-align: left;
  }

  .tilt p {
    text-align: left;
    opacity: 0;
    transition: 0.4s;
    padding-top: 15px;
    z-index: 100;
    font-size: 14px!important;
  }

  h1 {
    text-align: left;
  }

  .div {
    padding-left: 20px;

  }

  p {
    text-align: left;
  }

  .content {
    font-size:14px;
  }

  .python1 {
    position: absolute;
    top: 180px;
    left: 59px;
    z-index: 5;
    width: 130px;
  }

  .python2 {
    position: absolute;
    top: 155px;
    left: 40px;
    z-index: 5;
    width: 100px;
  }

  .java1 {
    position: absolute;
    top: 120px;
    left: 85px;
    z-index: 5;
    width: 100px;
  }

  .java2 {
    position: absolute;
    top: 125px;
    left: 36px;
    z-index: 5;
    width: 50px;
  }

  .ios1 {
    position: absolute;
    top: 135px;
    left: 22px;
    z-index: 5;
    width: 140px;

  }

  .ios2 {
    position: absolute;
    top: 164px;
    left: 111px;
    z-index: 5;
    width: 100px;
  }

  .flutter1 {
    position: absolute;
    top: 130px;
    left: 28px;
    z-index: 5;
  }

  .flutter2 {
    position: absolute;
    top: 220px;
    left: 113px;
    z-index: 5;
  }

  .java {
    background-color: rgb(231, 111, 0) !important;
  }

  .flutter {
    background-color: rgb(15, 96, 162) !important;
  }

  .ios {
    background-color: rgb(9, 35, 40) !important;
  }

  .python {
    background-color: rgb(55, 114, 163) !important;
  }

  .left {
    cursor: pointer;
    margin-right: 25px;
  }

  .right {
    cursor: pointer;
  }
}
@media (min-width: 320px) and (max-width: 420px){
  .App-header {
    background-color: rgb(249, 249, 249);
    display: flex;
    align-items: center;
    color: black;
  }

  .wrapper {
    max-width: 88%;
  }

  .App {
    text-align: center;
    background-color: rgb(249, 249, 249);
    padding: 10px 5px;
    overflow-x: hidden;
    .div {
      h1{
        margin-bottom: 10px;
        font-size: 16px;
      }
      p {
        font-size: 10px!important;
        line-height: 15px;
        margin-bottom: 0!important;
      }
    }
  }

  .cardContent {
    display: grid;
    position: relative;
    grid-column-gap: 3.8rem;
    width: 100%;
    height: 500px;
    flex-wrap: nowrap;
    transform-style: preserve-3d;
    margin-top: 1rem;
  }
  .navLink {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 380px;
    left: 27px;

  }
  .navLink:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
  .tilt {
    position: relative;
    padding: 20px!important;
    margin: 10px!important;
    height: 420px !important;
    width: 215px!important;
    color: white!important;
    border-radius: 0!important;
    p {
      font-size: 18px!important;
    }
    .first {
      transition: 0.5s;
    }
    .second {
      transition: 0.5s;
    }
    h4 {
      font-size: 18px;
    }
  }

  .tilt:hover {
    opacity: 0.9;
    .first {
      opacity: 0.4;
    }
    .second {
      opacity: 0.4;
    }
    p {
      opacity: 1;
      z-index: 25;
      font-size: 14px!important;
    }
  }

  h4  {
    text-align: left;
  }

  .tilt p {
    text-align: left;
    opacity: 0;
    transition: 0.4s;
    padding-top: 15px;
    z-index: 100;
    font-size: 14px!important;
  }

  h1 {
    text-align: left;
  }

  .div {
    padding-left: 20px;

  }

  p {
    text-align: left;
  }

  .content {
    font-size:14px;
  }

  .python1 {
    position: absolute;
    top: 180px;
    left: 59px;
    z-index: 5;
    width: 130px;
  }

  .python2 {
    position: absolute;
    top: 155px;
    left: 40px;
    z-index: 5;
    width: 100px;
  }

  .java1 {
    position: absolute;
    top: 120px;
    left: 85px;
    z-index: 5;
    width: 100px;
  }

  .java2 {
    position: absolute;
    top: 125px;
    left: 36px;
    z-index: 5;
    width: 50px;
  }

  .ios1 {
    position: absolute;
    top: 135px;
    left: 22px;
    z-index: 5;
    width: 140px;

  }

  .ios2 {
    position: absolute;
    top: 164px;
    left: 111px;
    z-index: 5;
    width: 100px;
  }

  .flutter1 {
    position: absolute;
    top: 130px;
    left: 28px;
    z-index: 5;
  }

  .flutter2 {
    position: absolute;
    top: 220px;
    left: 113px;
    z-index: 5;
  }

  .java {
    background-color: rgb(231, 111, 0) !important;
  }

  .flutter {
    background-color: rgb(15, 96, 162) !important;
  }

  .ios {
    background-color: rgb(9, 35, 40) !important;
  }

  .python {
    background-color: rgb(55, 114, 163) !important;
  }

  .left {
    cursor: pointer;
    margin-right: 25px;
  }

  .right {
    cursor: pointer;
  }
}
@media (min-width: 420px) and (max-width: 520px){
  .App-header {
    background-color: rgb(249, 249, 249);
    display: flex;
    align-items: center;
    color: black;
  }

  .wrapper {
    max-width: 88%;
  }

  .App {
    text-align: center;
    background-color: rgb(249, 249, 249);
    padding: 10px 5px;
    overflow-x: hidden;
    .div {
      h1{
        margin-bottom: 10px;
        font-size: 16px;
      }
      p {
        font-size: 10px!important;
        line-height: 15px;
        margin-bottom: 0!important;
      }
    }
  }

  .cardContent {
    display: grid;
    position: relative;
    grid-column-gap: 3.8rem;
    width: 100%;
    height: 500px;
    flex-wrap: nowrap;
    transform-style: preserve-3d;
    margin-top: 1rem;
  }
  .navLink {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 380px;
    left: 27px;

  }
  .navLink:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
  .tilt {
    position: relative;
    padding: 20px!important;
    margin: 10px!important;
    height: 420px !important;
    width: 215px!important;
    color: white!important;
    border-radius: 0!important;
    p {
      font-size: 18px!important;
    }
    .first {
      transition: 0.5s;
    }
    .second {
      transition: 0.5s;
    }
    h4 {
      font-size: 18px;
    }
  }

  .tilt:hover {
    opacity: 0.9;
    .first {
      opacity: 0.4;
    }
    .second {
      opacity: 0.4;
    }
    p {
      opacity: 1;
      z-index: 25;
      font-size: 14px!important;
    }
  }

  h4  {
    text-align: left;
  }

  .tilt p {
    text-align: left;
    opacity: 0;
    transition: 0.4s;
    padding-top: 15px;
    z-index: 100;
    font-size: 14px!important;
  }

  h1 {
    text-align: left;
  }

  .div {
    padding-left: 20px;

  }

  p {
    text-align: left;
  }

  .content {
    font-size:14px;
  }

  .python1 {
    position: absolute;
    top: 180px;
    left: 59px;
    z-index: 5;
    width: 130px;
  }

  .python2 {
    position: absolute;
    top: 155px;
    left: 40px;
    z-index: 5;
    width: 100px;
  }

  .java1 {
    position: absolute;
    top: 120px;
    left: 85px;
    z-index: 5;
    width: 100px;
  }

  .java2 {
    position: absolute;
    top: 125px;
    left: 36px;
    z-index: 5;
    width: 50px;
  }

  .ios1 {
    position: absolute;
    top: 135px;
    left: 22px;
    z-index: 5;
    width: 140px;

  }

  .ios2 {
    position: absolute;
    top: 164px;
    left: 111px;
    z-index: 5;
    width: 100px;
  }

  .flutter1 {
    position: absolute;
    top: 130px;
    left: 28px;
    z-index: 5;
  }

  .flutter2 {
    position: absolute;
    top: 220px;
    left: 113px;
    z-index: 5;
  }

  .java {
    background-color: rgb(231, 111, 0) !important;
  }

  .flutter {
    background-color: rgb(15, 96, 162) !important;
  }

  .ios {
    background-color: rgb(9, 35, 40) !important;
  }

  .python {
    background-color: rgb(55, 114, 163) !important;
  }

  .left {
    cursor: pointer;
    margin-right: 25px;
  }

  .right {
    cursor: pointer;
  }
}